<form class="{{cssClass}}" autocomplete="off">
  <input id="sigAttackId" name="data.attributes.sigattack.itemid" type="hidden" value="{{data.attributes.sigattack.itemid}}">
  <!-- HEADER -->
  <header class="sheet-header">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}"/>
      </h1>
      <h1 class="charlevel">
        Level<input name="data.details.retainerlevel" type="text" value="{{data.details.retainerlevel}}" placeholder="0" />
      </h1>
      {{!-- Character Summary --}}
      <ul class="summary">
        <li>
          <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'DND5E.Background' }}"/>
        </li>
        <li>
          <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}"/>
        </li>
      </ul>
      {{!-- Header Attributes --}}
      <ul class="attributes flexrow">
        <li class="attribute">
          <h4 class="attribute-name box-title">{{ localize "DND5E.Proficiency" }}</h4>
          <div class="attribute-value">
            <span class="ac-display">+{{data.attributes.prof}}</span>
          </div>
        </li>
        <li class="attribute">
          <h4 class="attribute-name box-title">{{ localize "DND5E.ArmorClass" }}</h4>
          <div class="attribute-value">
            <input class="ac-display" name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
              data-dtype="Number" placeholder="10"/>
          </div>
        </li>
        <li class="attribute health">
          <h4 class="attribute-name box-title">Health Marks</h4>
          <div class="counter flexrow exhaustion">
            <div id="health-mark-list" class="counter-value">
              <input type="checkbox" name="data.attributes.hpmark1" data-dtype="Boolean" {{checked data.attributes.hpmark1}}/>
              <input type="checkbox" name="data.attributes.hpmark2" data-dtype="Boolean" {{checked data.attributes.hpmark2}}/>
              <input type="checkbox" name="data.attributes.hpmark3" data-dtype="Boolean" {{checked data.attributes.hpmark3}}/>
              <input type="checkbox" name="data.attributes.hpmark4" data-dtype="Boolean" {{checked data.attributes.hpmark4}}/>
              <input type="checkbox" name="data.attributes.hpmark5" data-dtype="Boolean" {{checked data.attributes.hpmark5}}/>
              <input type="checkbox" name="data.attributes.hpmark6" data-dtype="Boolean" {{checked data.attributes.hpmark6}}/>
              <input type="checkbox" name="data.attributes.hpmark7" data-dtype="Boolean" {{checked data.attributes.hpmark7}}/>
              <input type="checkbox" name="data.attributes.hpmark8" data-dtype="Boolean" {{checked data.attributes.hpmark8}}/>
              <input type="checkbox" name="data.attributes.hpmark9" data-dtype="Boolean" {{checked data.attributes.hpmark9}}/>
              <input type="checkbox" name="data.attributes.hpmark10" data-dtype="Boolean" {{checked data.attributes.hpmark10}}/>
            </div>
          </div>
        </li>
        <li class="attribute">
          <h4 class="attribute-name box-title">{{ localize "DND5E.Speed" }}</h4>
          <div class="attribute-value">
            <input name="data.attributes.speed.value" type="text"
              value="{{data.attributes.speed.value}}" placeholder="0"/>
          </div>
          <footer class="attribute-footer">
            <input type="text" class="speed" name="data.attributes.speed.special"
              value="{{data.attributes.speed.special}}" placeholder="{{ localize 'DND5E.SpeedSpecial' }}"/>
          </footer>
        </li>
      </ul>
    </div>
  </header>

  <!-- BODY -->
  <section class="sheet-body">
    <div class="attributes core flexrow" data-group="primary" data-tab="attributes">
      {{!-- Ability Scores, Skills, & Traits --}}
      <div style="display: flex; flex-wrap: wrap; flex: 0 0 330px; align-content: start;">
        {{!-- Ability Scores --}}
        <ul class="ability-scores">
          <div class="section-titles">Ability Scores</div>
          {{#each data.abilities as |ability id|}}
          <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
            <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
            <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10"/>
            <div class="ability-modifiers flexrow">
              <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/>
              <a class="proficiency-toggle ability-proficiency" title="Proficiency">{{{ability.icon}}}</a>
              <span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
            </div>
          </li>
          {{/each}}
        </ul>
        {{!-- Skills --}}
        <ul class="skills-list">
          <div class="section-titles">Skills</div>
          {{#each data.skills as |skill s|}}
          <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
            <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
            <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
            <h4 class="skill-name rollable">{{skill.label}}</h4>
            <span class="skill-ability">{{skill.ability}}</span>
            <span class="skill-mod">{{numberFormat skill.mod decimals=0 sign=true}}</span>
            {{!-- <input class="skill-bonus" name="data.skills.{{s}}.bonus" type="text" value="{{numberFormat skill.bonus decimals=0 sign=true}}" data-dtype="Number" placeholder="0" title="Misc. Modifier"/> --}}
            {{!-- <span class="skill-passive">({{skill.passive}})</span> --}}
          </li>
          {{/each}}
        </ul>
      </div>
      {{!-- Resources, Counters, & Favorites --}}
      <div style="display: flex;">
        {{!-- Resources --}}
        <section class="center-pane">
          <div class="section-titles" style="border: none;">Signature Attack</div>
          <div class="retainer-action-block">
            <div class="flexrow">
              <div id="retainer-sigattack-roll" class="retainer-action-icon-wrapper rollable"><div class="retainer-action-icon"></div></div>

              <input type="text" class="retainer-action-name" name="data.attributes.sigattack.name"
                value="{{data.attributes.sigattack.name}}" placeholder="Name"/>

              <input type="text" class="retainer-action-action" name="data.attributes.sigattack.cost"
                value="{{data.attributes.sigattack.cost}}" placeholder="Required Action"/>
            </div>

            <ul class="attributes flexrow" style="margin-top: 10px;">
              <li class="attribute" style="height: fit-content;">
                <h4 class="attribute-name box-title" style="margin-right: 0; margin-left: 0;">To Hit Mod</h4>
                <div class="attribute-value">
                  <input name="data.attributes.sigattack.tohit" style="max-width: 100%;" type="text" value="{{data.attributes.sigattack.tohit}}" data-dtype="Number" placeholder="+6"/>
                </div>
              </li>
              <li class="attribute" style="height: fit-content;">
                <h4 class="attribute-name box-title">Reach</h4>
                <div class="attribute-value">
                  <input name="data.attributes.sigattack.reach" style="max-width: 100%;" type="text" value="{{data.attributes.sigattack.reach}}" placeholder="5ft"/>
                </div>
              </li>
              <li class="attribute" style="height: fit-content;">
                <h4 class="attribute-name box-title">Target</h4>
                <div class="attribute-value retainer-action-attr">
                  <input name="data.attributes.sigattack.target" style="max-width: 100%; font-size: 20px;" type="text" value="{{data.attributes.sigattack.target}}" placeholder="one target"/>
                </div>
              </li>
              <li class="attribute" style="height: fit-content;">
                <h4 class="attribute-name box-title">Damage</h4>
                <div class="attribute-value">
                  <div class="attribute-value">
                  <input name="data.attributes.sigattack.damageroll" style="max-width: 100%; font-size: 20px;" type="text" value="{{data.attributes.sigattack.damageroll}}" placeholder="1d10+6"/>
                </div>
              </li>
              <li class="attribute" style="height: fit-content;">
                <h4 class="attribute-name box-title">Type</h4>
                <div class="attribute-value">
                  <input name="data.attributes.sigattack.damagetype" style="max-width: 100%; font-size: 20px;" type="text" value="{{data.attributes.sigattack.damagetype}}" placeholder="slashing"/>
                </div>
              </li>
            </ul>
          </div>

          <div class="section-titles" style="border: none;">Special Actions</div>
          <div class="retainer-special-action-level-wrapper"><div class="retainer-special-action-level">3</div></div>
          <div class="retainer-action-block">
            <div class="flexrow">
              <div id="specattack1" class="retainer-action-icon-wrapper retainer-special-action-button rollable"><div class="retainer-action-icon"></div></div>

              <input type="text" class="retainer-action-name" name="data.attributes.specattack1.name" value="{{data.attributes.specattack1.name}}" placeholder="Name"/>

              <input type="text" class="retainer-action-action" name="data.attributes.specattack1.cost" value="{{data.attributes.specattack1.cost}}" placeholder="Action"/>
            </div>

            <div class="retainer-special-action-editor">
              {{editor content=data.attributes.specattack1.description target="data.attributes.specattack1.description" button=true owner=owner editable=editable}}
            </div>
          </div>

          <div class="retainer-special-action-level-wrapper"><div class="retainer-special-action-level">5</div></div>
          <div class="retainer-action-block">
            <div class="flexrow">
              <div id="specattack2" class="retainer-action-icon-wrapper retainer-special-action-button rollable"><div class="retainer-action-icon"></div></div>

              <input type="text" class="retainer-action-name" name="data.attributes.specattack2.name" value="{{data.attributes.specattack2.name}}" placeholder="Name"/>

              <input type="text" class="retainer-action-action" name="data.attributes.specattack2.cost" value="{{data.attributes.specattack2.cost}}" placeholder="Action"/>
            </div>

            <div class="retainer-special-action-editor">
              {{editor content=data.attributes.specattack2.description target="data.attributes.specattack2.description" button=true owner=owner editable=editable}}
            </div>
          </div>

          <div class="retainer-special-action-level-wrapper"><div class="retainer-special-action-level">7</div></div>
          <div class="retainer-action-block">
            <div class="flexrow">
              <div id="specattack3" class="retainer-action-icon-wrapper retainer-special-action-button rollable"><div class="retainer-action-icon"></div></div>

              <input type="text" class="retainer-action-name" name="data.attributes.specattack3.name" value="{{data.attributes.specattack3.name}}" placeholder="Name"/>

              <input type="text" class="retainer-action-action" name="data.attributes.specattack3.cost" value="{{data.attributes.specattack3.cost}}" placeholder="Action"/>
            </div>

            <div class="retainer-special-action-editor">
              {{editor content=data.attributes.specattack3.description target="data.attributes.specattack3.description" button=true owner=owner editable=editable}}
            </div>
          </div>

        </section>
      </div>
    </div>




  </section>
</form>

